body 
{
color:darkred;
background-color:blanchedalmond;
font-family: Arial, Helvetica, sans-serif;

display: flex;
justify-content: center;
align-items: center;
height: 100vh; /* Altura da tela inteira */
}

ul 
{
display: flex;
justify-content: space-between;
list-style-type: none;
padding: 16px;
}

a
{
color: rgb(192, 16, 16);
text-decoration: none;
}

img
{
width: 100px;
height: 100px;
border: 4px solid darkred;
}

header img
{
width: 100px;
height: 100px;
border-radius: 50%;
border: 4px solid darkred;
}

.center /* Para criar uma classe deve usar "." antes do nome da classe */
{
text-align: center;
}

footer
{
text-align: center;
}

.container
{
padding: 10px 50px;
}

nav a:hover
{
color:orange;
}

h1
{
text-align: center;
}